<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.localfriend">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".application.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginSignupActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
            <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCQ4-nqC85wyQtTBd9ZqrAxJ9t1SBRz-0U" />
        -->

        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".FeedbackActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".TrackOrderActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".NeedHelp"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".SigninActivityOne"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".SigninActivityTwo"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".CheckOutActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".OrderPlacedActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MonthlyPackageListActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SubscriptionCheckOutActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FoodActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".BreakFastActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".SignupActivityOne"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".SignupActivityTwo"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".SignupActivityThree"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".SignupActivityFour"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".AllActivity"
            android:parentActivityName=".OrderActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".OrderActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".AddressActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".AddressListActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".VegetableActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".ItemDetailActivity" />
        <activity android:name=".MoreActivity"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.localfriend.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.localfriend.GlideConfiguration"
            android:value="GlideModule" />
    </application>

</manifest>